@import url('https: //fonts.google.com/specimen/Poppins');
@import url('https: //fonts.google.com/specimen/Outfit?query=outfit');

/* Variables */
:root{ --colorWhite:#FFF;}
/* Neutral Colors */
:root{ --colorNeural50:#F8FAFC;}
:root{ --colorNeural200: #E2E8F0;}
:root{ --colorNeural400: #94A3B8;}
:root{ --colorNeural500:#64748B;}
:root{ --colorNeural600:#475569;}
/* Primary Colors */
:root{ --colorPrimary100: #F3F2FF;}
:root{ --colorPrimary200: #EEE5FF;}
:root{ --colorPrimary500: #6729FF;}

* {
    box-sizing: border-box;

}

body {
    padding: 0px;
    margin: 0px;
    max-width: 1440px;
    height: auto;
    background-color: var(--colorWhite);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
/* Start header */
header{
    display: flex;
    width: 100%;
    background-color: var(--colorWhite);
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0px 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header .logo{
    margin-left: 20px;
    width: 100px;
    height: 30px;
}

.nav-links{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: var(--colorNeural400);
    padding: 0px 25px;
}

.login{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 2px;
}

.login a{
    text-decoration: none;
    color: var(--colorNeural400);
    padding: 0px 25px;
}

.button-login{
    display: block;
    background-color: var(--colorPrimary500);
    color: var(--colorWhite);
    border-radius: 10px;
    height: 35px;
    align-content: center;
}
/* End Header */

/* Start main */
main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: solid 3px #000;
}

.banners{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    border: solid 3px red;
}

.banner-home{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
}

.banner-text{
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
}

.banner-text h1{
    font-family: 'Outfit', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: var(--colorNeural600);
    text-align: start;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-text p{
    color: var(--colorNeural500);
    text-align: start;
    font-family: 'popins', sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
}

.banner-buttons{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3px;
    margin-bottom: 30px;
}

.banner-buttons .button-open-account{
    display: block;
    font-family: 'popins', sans-serif;
    font-weight: 600;
    font-size: 0.6em;
    background-color: var(--colorPrimary200);
    color: var(--colorPrimary500);
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
}

.banner-buttons .button-find-out-more{
    display: block;
    font-family: 'popins', sans-serif;
    font-weight: 600;
    font-size: 0.6em;
    color: var(--colorNeural500);
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin-left: 30px;
}

.banner-photos-people{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.banner-photos-people img{
    display: flex;
    position: relative;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    border: solid 2px var(--colorWhite);
}

.img1{
    position: absolute;
    left: 0px;
}

.img2 {
    position: absolute;
    right: 12px;
}

.img3 {
    position: absolute;
    right: 25px;
}

.img4 {
    position: absolute;
    right: 36px;
}

.img5 {
    position: absolute;
    right: 48px;
}

.img6 {
    background-color: var(--colorPrimary200);
    position: absolute;
    right: 60px;
}

.positive-customers{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    color: var(--colorNeural400);
    font-family: 'popins', sans-serif;
    font-size: 0.5em;
    margin-top: 0px;
}

.banner-two{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    background-color: var(--colorPrimary500);
    position: relative;
}

.app{
    height: 90%;
}

.banner-two p{
    color: var(--colorNeural600);
    font-family: 'popins', sans-serif;
    font-size: 0.7em;
    padding-left: 10px;
}

.dollar{
    background-color: var(--colorWhite);
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: center;
    bottom: 68%;
    left: 53%;
    max-height: 28px;
    padding: 0px 8px;
    border-radius: 6px;
}

.dollar .imgs-balloons{
    display: flex;
    max-width: 20px;
    max-height: 20px;
    background-color: var(--colorPrimary200);
    border-radius: 5px;
}

.earth{
    background-color: var(--colorWhite);
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: center;
    bottom: 35%;
    left: 18%;
    max-height: 28px;
    padding: 0px 8px;
    border-radius: 6px;
}

.user-round{
    background-color: var(--colorWhite);
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: center;
    bottom: 15%;
    left: 56%;
    max-height: 28px;
    padding: 0px 8px;
    border-radius: 6px;
}
/* ----------------- */
.cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    border: solid 3px blue;
}

.card-text{
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    text-align: start;
    padding-top: 20px;
    padding-left: 150px;
    border: solid 3px green;
}

.card-text .title{
    font-family: 'popins', sans-serif;
    color: var(--colorPrimary500);
    font-weight: bold;
    font-size: 0.7em;
}

.card-text h1{
    font-family: 'outfit', sans-serif;
    font-size: 1.5em;
    color: var(--colorNeural600);
}

.card-text p{
    font-family: 'popins', sans-serif;
    font-size: 0.7em;
    color: var(--colorNeural500);
}

#null-purple{
    color: var(--colorPrimary500);
}

.card-button{
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 0px;
}

.card-button a{
    text-decoration: none;
    text-align: center;
    color: var(--colorPrimary500);
    font-family: 'popins', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
}

.card-button img{
    max-width: 15px;
    max-height: 15px;
}

.cards-benefits{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 60%;
    border: solid 3px yellow;
}

.cards-benefits img{
    background-color: var(--colorPrimary200);
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}

.rewards{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    height: max-content;
    margin-top: 5px;
    margin-left: 20px;
    border: solid 1px var(--colorNeural200);
    border-radius: 10px;
}

.rewards-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
}

.discounts{
    display: flex;
    flex-flow: column nowrap;
    width: 42%;
    height: max-content;
    margin-top: 5px;
    margin-right: 20px;
    border: solid 1px var(--colorNeural200);
    border-radius: 10px;
}

.discounts-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    margin-bottom: -18px;
}

.cashback {
    display: flex;
    flex-flow: column nowrap;
    width: 42%;
    height: max-content;
    margin-top: 15px;
    margin-left: 20px;
    border: solid 1px var(--colorNeural200);
    border-radius: 10px;
}

.cashback-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
}

.international-card{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    height: max-content;
    margin-top: 15px;
    margin-right: 20px;
    border: solid 1px var(--colorNeural200);
    border-radius: 10px;
}

.international-card-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
}

.digital-wallets {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 130px;
    margin: 15px 20px;
    justify-content: end;
    border: solid 1px black;
    border-radius: 10px;
    position: relative;
    background-color: var(--colorPrimary100);
    overflow: hidden;
}

.digital-wallets-title{
    display: flex;
    width: 30%;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    border: solid 1px black;
}

.rotate {
    background-color: var(--colorWhite);
    display: flex;
    width: 100px;
    height: 80px;
    transform: rotate(5deg);
    border-radius: 5px;
    position: absolute;
    left: 48%;
    bottom: -14%;
    color: transparent;
}

.rotate-2{
    background-color: var(--colorPrimary500);
    display: flex;
    width: 100px;
    height: 80px;
    transform: rotate(5deg);
    border-radius: 5px;
    position: absolute;
    left: 58%;
    bottom: -14%;
    color: transparent;
}

.cards-benefits p{
    font-family: 'popins', sans-serif;
    font-size: 0.7em;
    color: var(--colorNeural500);
    padding-left: 5px;
}

.cards-benefits .title-p {
    font-family: 'outfit', sans-serif;
    font-size: 1em;
    color: var(--colorPrimary500);
    font-weight: 600;
    padding-left: 10px;
}
